<p id="notice"><%= notice %></p>

<p>
  <strong>Curriculum name:</strong>
  <%= @curriculum.curriculum_name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @curriculum.created_by %>
</p>

<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
